################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CrmWebAPISample/CrmWebAPISample/bin/Debug/netcoreapp3.1
